a {
    text-decoration: none;
    color: inherit;
}

select {
    outline: none;
    border: none;

    &:focus {
        outline: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
}

input:not([type=checkbox]):not([type=radio]), textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input:focus, textarea:focus, button:focus {
    outline: none;
}

.none { display: none !important }

.page { position: relative }

.container__1200px {
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;

    margin-right: auto;
    margin-left: auto;
}

.g-title {
    font-size: 1.6em;
    font-weight: 500;
}

.g-blue-btn {
    background-color: $franceBlue;
    color: white;

    line-height: 110%;
    font-weight: 400;
    transition: .4s;

    &:hover {
        background-color: #2469BB;
    }
}

.g-transparent-btn {
    background-color: transparent;
    border: 1px solid $franceBlue;

    color: $franceBlue;
    font-weight: 400;
    transition: .4s;

    &:hover {
        background-color: $franceBlue;
        color: white;
    }
}