a {
    text-decoration: none;
    color: inherit;
}

select {
    outline: none;
    border: none;

    &:focus { outline: none }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    padding: 0;
}

input:not([type=checkbox]):not([type=radio]), textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input:focus, textarea:focus, button:focus { outline: none }

.none { display: none !important }

.page { 
    position: relative; 
    overflow-x: hidden;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    min-height: 100%;
    &::-webkit-scrollbar { display: none }
}

.header-absolute {
    display: initial;
    flex-direction: initial;
    height: initial;
    
    .header {
        position: absolute;
        top: 0;

        width: 100vw;
        overflow: hidden;
        
        .menu { height: calc(100vh - 100px) }
    }
}

.container__1200px {
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;

    margin-right: auto;
    margin-left: auto;

    box-sizing: border-box;
    @media (max-width: 575px) { padding: 0 25px }
}

.g-title {
    font-size: 1.6em;
    font-weight: 500;

    @media (max-width: 768px) { font-size: 28px }
    @media (max-width: 575px) { font-size: 25px }
    @media (max-width: 400px) { font-size: 20px; font-weight: 500; }
}

.g-paragraph {
    color: $niche;
}

.g-blue-btn {
    background-color: $franceBlue;
    color: white;

    line-height: 110%;
    font-weight: 400;
    transition: .4s;

    &:hover { background-color: #2469BB }
}

.g-transparent-btn {
    background-color: transparent;
    border: 1px solid $franceBlue;

    color: $franceBlue;
    font-weight: 400;
    transition: .4s;

    &:hover {
        background-color: $franceBlue;
        color: white;
    }
}

.g-input {
    background-color: transparent;
    color: white;

    border-radius: 0;
    border: 0.05em solid $niche;
    padding: 0.9375em 1.25em;

    font-size: 0.8em;
    font-weight: 400;

    &::placeholder {
        color: $niche;
        transition: .2s;
    }

    &:focus {
        &::placeholder { opacity: 0 }
    }
}

.g-input-error {
    background-color: transparent;
    border: 0.05em solid #922B21;
    color: #922B21;

    transition: .4s;

    &::placeholder { color: #922B21 }
}

.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}

.lozad--disabled {
    opacity: 0;
    transition: .4s;
}

.loaded {
    opacity: 1;
}