@import "vars";
@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $voidBlack;
    color: white;

    font-family: 'Geometria', serif;
    font-weight: 400;
    font-size: 20px;
    
    min-width: 320px;
    height: 100vh;
}

.m-open {
    overflow: hidden;
    position: fixed;

    @media (max-width: 1024px) { 
        overflow: hidden;
        position: fixed;

        .header {
            height: 100vh;
            min-height: 100%;
            width: 100%;
            position: fixed;
            z-index: 50;
            top: 0;

            background-color: $voidBlack;
            .menu { display: block }
        }
    }
}

.f-open {
    @media (max-width: 1024px) { 
        overflow: hidden;
    }
}

@import 'fonts';
@import 'global';

@import "./limbs/header.scss";
@import "./limbs/footer.scss";

@import "./blocks/lang-switcher.scss";
@import "./blocks/about-preview.scss";
@import "./blocks/equipment.scss";
@import "./blocks/main-slider.scss";
@import "./blocks/intro.scss";
@import "./blocks/circle-shadow.scss";
@import "./blocks/gear.scss";
@import "./blocks/burger.scss";
@import "./blocks/partners.scss";
@import "./blocks/contact-form.scss";
@import "./blocks/header__drop-down.scss";
@import "./blocks/mobile-menu.scss";
@import "./blocks/achievement.scss";
@import "./blocks/charts.scss";
@import "./blocks/gallery.scss";
@import "./blocks/card360deg.scss";
@import "./blocks/select.scss";
@import "./blocks/store.scss";
@import "./blocks/range-sliders.scss";
@import "./blocks/product.scss";
@import "./blocks/products-slider.scss";
@import "./blocks/breadcumps.scss";
@import "./blocks/navigation-slider.scss";
@import "./blocks/services.scss";
@import "./blocks/contacts.scss";
@import "./blocks/privacy.scss";
@import "./blocks/instruments.scss";
@import "./blocks/search-bar.scss";
@import "./blocks/not-found.scss";
@import "./blocks/cookies.scss";