@import "vars";
@import "mixins";

html {
    scroll-behavior: smooth;
}

body {
    background-color: $voidBlack;
    color: white;

    font-family: 'Geometria', serif;
    font-weight: 400;
    font-size: 20px;
    
    min-width: 320px;
}

@import 'fonts';
@import 'global';

@import "./limbs/header.scss";
@import "./limbs/footer.scss";

@import "./blocks/lang-switcher.scss";
@import "./blocks/about-preview.scss";