.achievement {
    height: 35em;
    background: 50% / cover no-repeat;
    position: relative;

    margin-bottom: 8em;

    @media (max-width: 1200px) { height: 30em }
    @media (max-width: 992px) { height: 35em; margin-bottom: 12em }
    @media (max-width: 768px) { 
        height: 25em; 
        margin-bottom: 30em; 
        background: 80% / cover no-repeat;
    }
    @media (max-width: 450px) { margin-bottom: 34em }
    @media (max-width: 400px) { margin-bottom: 36.5em }
    @media (max-width: 350px) { margin-bottom: 32em }

    &::before {
        content: "";
        display: block;

        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;

        width: 100%;
        height: 102%;
        background: linear-gradient(68.23deg, #0A1428 14.4%, rgba(10, 20, 40, 0) 66.96%);

        @media (max-width: 350px) { background: rgba(10, 20, 40, 0.5) }
    }

    &__video {
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;bottom: 0;
        left: 0;right: 0;

        overflow: hidden;

        video {
            width: 100%;
            height: auto;

            z-index: -1;
            visibility: visible;
        }
    }

    &__container {
        @include make-container(1100px);
        z-index: 5;
        position: relative;

        padding: 0 50px;
        height: 100%;

        display: flex;
        flex-direction: column;

        @media (max-width: 768px) {
            padding: 0 25px;
            position: absolute;
            width: calc(100% - 50px);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;

        margin-top: auto;
        margin-bottom: 5.55em;

        h1 { margin-bottom: 0.625em }

        p {
            font-size: 1em;
            font-weight: 400;
            line-height: 150%;

            span { color: $franceBlue; font-weight: 500 }
        }

        @media (max-width: 1200px) { font-size: 0.8em }
        @media (max-width: 992px) { margin-bottom: 14em }
        @media (max-width: 768px) { 
            margin-bottom: 4em;
            margin-top: 22em; 
            max-width: 453px;
            p { 
                font-size: 16px;
                &:not(:last-child) { margin-bottom: 15px }
            }
        }

        @media (max-width: 400px) {
            margin-bottom: 50px;

            p { 
                max-width: 300px;

                &:not(:last-child) {
                    margin-bottom: 15px;
                    max-width: 230px;
                }
            }
        }
    }

    &__table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;

        position: absolute;
        bottom: 0;
        transform: translateY(50%);

        width: calc(100% - 100px);
        height: fit-content;

        @media (max-width: 450px) { bottom: -10% }
        @media (max-width: 400px) { bottom: -17% }
        @media (max-width: 350px) { grid-gap: 0.5em; bottom: -22% }

        &-item {
            display: flex;
            flex-direction: column;

            padding: 1em 1.5em;
            background-color: $franceBlue;
            height: fit-content;

            h1 {
                margin-bottom: 0.3125em;
                line-height: 110%;
            }

            p {
                font-size: 0.7em;
                line-height: 130%;
            }

            @media (max-width: 992px) {
                width: 100%;
                max-width: 550px;
                h1 { font-size: 1.2em }
            }

            @media (max-width: 768px) {
                width: calc(100% - 100px);
                max-width: none;
                box-sizing: border-box;
            }

            @media (max-width: 768px) {
                width: 100%;
                &:not(:last-child) { margin-bottom: 15px }
            }
            @media (max-width: 400px) {
                padding: 20px 20px 20px 12px;
                h1 { font-size: 24px; margin-bottom: 10px }
                p { font-size: 14px; }
            }

            @media (max-width: 350px) {
                padding: 15px 15px 15px 12px;

                h1 {
                    margin-bottom: 5px;
                    font-size: 20px;
                }

                p { font-size: 12px }
            }
        }

        @media (max-width: 1200px) {
            font-size: 0.8em;
            p { line-height: 150% }
        }

        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;

            width: auto;
            font-size: 1em;

            grid-template-columns: none;
        }

        @media (max-width: 768px) {
            transform: translateY(145%);
            grid-gap: 0;

            width: calc(100% - 50px);
            margin: 0 auto;
            p { line-height: 130% }
        }

        @media (max-width: 350px) {
            transform: translateY(150%);
        }
    }
}