.circle-shadow {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    img {
        width: 750px;
        height: 750px;
    
        display: block;
        position: absolute;
        right: 1%;
        top: -100px;
    }
}