.circle-shadow {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    img {
        width: 750px;
        height: 750px;
    
        display: block;
        position: absolute;
        right: 1%;
        top: -100px;

        @media (max-width: 1024px) { 
            right: 50%;
            transform: translateX(50%);
        }

        @media (max-width: 575px) { 
            width: 100vw;
            height: 100vw;
            top: -10%;
        }
    }
    
    @supports (-webkit-touch-callout: none) { display: none }
}