.gallery {
    display: flex;
    overflow: hidden;
    margin-bottom: 5em;

    &__container {
        display: flex;
        flex-direction: column;

        @media (max-width: 575px) { padding: 0 }
    }

    h1 {
        max-width: 12.4em;
        margin-bottom: 0.625em;

        @media (max-width: 992px) {
            margin-bottom: 0.75em;
        }

        @media (max-width: 575px) { padding: 0 25px }

        @media (max-width: 400px) {
            margin-bottom: 1em;
            line-height: 130%;
        }
    }

    p {
        max-width: 29.7em;
        line-height: 150%;
        font-size: 1em;

        margin-bottom: 2.5em;

        @media (max-width: 992px) {
            font-size: 0.8em;
            margin-bottom: 1.4em;
        }

        @media (max-width: 575px) { padding: 0 25px; margin-bottom: 1.2em }
        @media (max-width: 400px) { font-size: 0.8em }
    }

    &__photos {
        display: flex;
        align-items: center;

        @media (max-width: 1300px) {
            max-width: 1200px;
            overflow: auto;
        }

        @media (max-width: 575px) { padding: 0 25px }
        &::-webkit-scrollbar { display: none }

        &-item {
            width: 14.25em;
            height: 11em;
            position: relative;
            box-sizing: border-box;

            background-color: #2B7EE0; 
            background-blend-mode: luminosity;
            background-repeat: no-repeat;
            background-size: cover;

            cursor: pointer;

            &:not(:last-child) { margin-right: 1em }
        }
    }
}