.main-slider {
    position: absolute;
    z-index: 100;
    transition: .4s;

    width: 100%;
    height: 100%;

    right: -109%;
    top: 58%;

    &__item {
        color: white;
        max-width: 18.15em;
        user-select: none;

        position: absolute;
        transition: .8s ease;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &-img {
            width: 100%;
            max-width: 18.15em;
            height: auto;
            
            display: flex;
            align-items: center;
            justify-content: center;

            transition: 1.2s;
            margin: auto;

            img {
                width: 100%;
                height: 100%;

                margin: auto;            
            }

            @media (max-width: 575px) { max-width: 300px }
            @media (max-width: 450px) { max-width: 259px }
        }

        &-info {
            display: flex;
            flex-direction: column;

            padding: 1.5em 0 0 2em;
            transition: .4s;
    
            h3 {
                font-weight: 400;
                font-size: 1em;
    
                margin-bottom: 0.25em;

                @media (max-width: 450px) { 
                    font-size: 0.9em;
                    margin-bottom: 5px;
                    line-height: 150%;
                }
            }
    
            p {
                font-size: 0.7em;
                max-width: 22em;
                line-height: 150%;

                margin-bottom: 1.42em;
    
                b { color: $franceBlue }

                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                overflow: hidden;
            }

            a {
                font-size: 0.7em;
                width: fit-content;

                padding: 0.71em 1.42em;
            }

            @media (max-width: 575px) { padding: 1.5em 0 0 1em }
            @media (max-width: 450px) { padding: 1.5em 0 0 0 }
        }
        .main-slider__item-info {
            opacity: 0;
            transform: scale(.8);
        }

        .main-slider__item-img {
            width: 7em;
            margin: auto;

            -webkit-mask-image: linear-gradient(180deg, rgba(139, 139, 139, 0.3) 0%, rgba(196, 196, 196, 0.3) 100%);
            mask-image: linear-gradient(180deg, rgba(139, 139, 139, 0.3) 0%, rgba(196, 196, 196, 0.3) 100%);
            mask-composite: intersect;
        }

        &--active {
            .main-slider__item-info {
                opacity: 1;
                transform: scale(1);
            }
    
            .main-slider__item-img {
                width: 18.15em;
    
                -webkit-mask-image: initial;
                mask-image: initial;
                mask-composite: initial;
    
                img { transition: .4s }
            }
        }

    }

    @media (max-width: 575px) { height: fit-content }
}