.partners {
    margin-bottom: 5em;
    @media (max-width: 575px) { margin-bottom: 2.5em; }

    h1 { 
        line-height: 140%;
        padding-bottom: 10px;
    }

    p {
        font-size: 1em;
        line-height: 130%;

        @media (max-width: 992px) { font-size: 0.9em }
        @media (max-width: 400px) { font-size: 0.8em }
    }

    .select-box { margin-top: 1em }
    
    &__select {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2em;

        @media (max-width: 768px) { display: none }

        &-item {
            &:not(:last-child) { margin-right: 10px }

            background-color: transparent;
            border: 1px solid $niche;
            color: white;

            font-size: 0.7em;
            padding: 10px 20px;
            transition: .4s;

            margin-bottom: 10px;

            &:hover {
                border-color: $franceBlue;
                color: $franceBlue;
            }
        }

        .active {
            background-color: $franceBlue;
            border-color: $franceBlue;
            color: white;

            &:hover { color: inherit }
        }
    }

    &__table {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1em;

        width: 100%;
        padding-top: 1.5em;

        @media (max-width: 992px) { grid-template-columns: repeat(2, 1fr); padding-top: 1em }
        @media (max-width: 575px) { grid-gap: .5em }
        @media (max-width: 400px) { grid-gap: .25em }

        &-item {
            width: 100%;
            height: 6em;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: rgba(100, 115, 145, 0.25);

            h3 {
                font-size: 16px;
                font-weight: 800;
                line-height: 120%;

                @media (max-width: 1300px) { font-size: 1.23vw }
                @media (max-width: 992px) { font-size: 2.4vw; text-align: center }
                @media (max-width: 575px) { font-size: 2.6vw }
            }

            img {
                width: auto;
                height: auto;

                @media (max-width: 1300px) { width: 70% }
                @media (max-width: 575px) { width: 75% }
            }

            &--first {
                img { padding-bottom: 0.7% }
            }

            &--second {
                img { padding-bottom: 5.26% }
                @media (max-width: 400px) { img { width: 65% } }
            }

            @media (max-width: 992px) { height: 8em }
            @media (max-width: 768px) { height: 6em }
            @media (max-width: 575px) { height: 5em }
            @media (max-width: 400px) { height: 3em }
        }
    }

    &--main {
        p {
            max-width: 590px;
            line-height: 150%;
        }

        .partners__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 1em;

            margin-top: 2em;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                grid-row-gap: 1.5em;
            }

            @media (max-width: 400px) {
                grid-row-gap: 1em;
            }

            @media (max-width: 400px) {
                margin-top: 1.5em;
            }

            &-item {
                background-color: #131D32;
                background-image: url(./../images/contacts-bg.png);
                background-repeat: no-repeat;
                background-size: 347px 176px;
                background-position: top right;

                display: flex;
                flex-direction: column;
                padding: 2.5em;

                img {
                    width: 8em;
                    height: 6em;

                    margin-bottom: 1.5em;
                }

                p {
                    font-size: 0.8em;
                    font-style: italic;
                    font-weight: 500;
                    color: $niche;

                    max-width: 95%;

                    margin-bottom: 1.25em;
                }

                a {
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    
                    span {
                        color: $franceBlue;
                        font-size: 0.7em;

                        display: flex;
                        align-items: center;

                        &::after {
                            content: "";
                            display: block;

                            width: 0;
                            height: 1px;

                            transition: .4s;
                            margin: 0 2px 0 5px;

                            background-color: $franceBlue;
                        }
                    }

                    svg {
                        stroke: $franceBlue;
                        width: 10px;
                        height: 5px;

                        margin-top: 0;
                        margin-left: 0;
                    }
                    
                    &:hover {
                        span {
                            &::after { width: 20px }
                        }
                    }
                }

                @media (max-width: 1024px) {
                    background-size: 191px 96px;
                    padding: 1em 1em 1.5em 1em;

                    img {
                        width: 7em;
                        height: 105px;
                    }

                    p { font-size: 0.7em; max-width: none }
                }

                
                @media (max-width: 768px) {
                    background-size: 347px 176px;
                    padding: 1.5em;

                    img {
                        width: 8em;
                        height: 6em;
                    }

                    p { font-size: 0.8em }
                }

                @media (max-width: 400px) {
                    background-size: 191px 96px;
                    padding: 1em 1em 1.5em 1em;

                    img {
                        width: 7em;
                        height: 105px;
                    }

                    p { font-size: 0.7em; max-width: none }
                }
            }
        }
    }
}