.products-slider {
    margin-bottom: 5em;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            line-height: 140%;
            span { color: $niche }
        }

        @media (max-width: 992px) {
            h1 { font-size: 26px }
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 26px;
                max-width: 320px;
                margin-right: 20px;
            }
        }

        @media (max-width: 500px) {
            h1 {
                font-size: 18px;
                max-width: 210px;
            }
        }

        @media (max-width: 400px) {
            display: flex;
            flex-direction: column;
            align-items: start;

            h1 {
                font-size: 20px;
                max-width: 280px;

                margin-bottom: 15px;
            }
        }
    }

    &__table {
        margin-top: 1.5em;
        width: 100%;
        
        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1em;
    
            width: 100%;

            @media (max-width: 1024px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

            @media (max-width: 500px) {
                grid-gap: .25em;
            }
    
            a {
                border: 0.05em solid #647391;
                padding: 1em 1.5em 1.5em 1.5em;
                height: 12.5em;
                
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                transition: .4s;

                @media (max-width: 500px) {
                    text-align: left;
                    align-items: initial;
                    height: 10em;
                    padding: 0.75em 0.5em 0.75em 0.75em;
                }

                @media (max-width: 400px) {
                    height: auto;
                }
    
                div {
                    width: fit-content;
                    height: fit-content;
    
                    display: flex;
                    align-items: center;
                    margin: auto 0;
    
                    img {
                        width: auto;    
                        height: auto;
    
                        max-width: 9em;
                        max-height: 6em;
    
                        margin: auto 0; 

                        @media (max-width: 500px) {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    @media (max-width: 400px) {
                        max-width: 5em;
                    }
                }
        
                span {
                    line-height: 125%;
                    font-size: 0.9em;
    
                    margin-top: auto;
                    transition: .4s;
                    width: fit-content;

                    @media (max-width: 768px) { font-size: 0.8em }
                    @media (max-width: 500px) { font-size: 0.7em }
                    @media (max-width: 400px) { font-size: 0.6em }
                }

                &:hover {
                    border: .05em solid $franceBlue;
                    span { color: $franceBlue } 
                }
            }
        }
    }
}