.range-slider {
    margin-bottom: 2em;

    &__inputs {
        display: flex;
        align-items: center;

        margin-bottom: 20px;

        span {
            font-size: 16px;
            color: #647391;

            margin: 0 16px;
        }

        input {
            border: 1px solid white;
            background-color: transparent;
            color: white;

            font-size: 16px;
            padding: 10px 15px;
            line-height: 1;

            width: 100%;
            transition: .4s;

            &::placeholder { transition: .2s }

            &:hover, &:focus, &:active {
                border-color: #2B7EE0;
                color: #2B7EE0;
            }

            &:focus {
                &::placeholder { opacity: 0 }
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                display: none;
            }
        }
    }

    &__limits {
        display: flex;
        align-items: center;
        justify-content: space-between;

        user-select: none;

        span {
            color: $niche;
            font-size: 14px;
            font-style: italic;
        }
    }

    // ON PLUGIN STYLES
    .noUi-target {
        border: none;
        border-radius: 0;

        margin: 14px 0;
    }
    
    .noUi-base { background: #647391 }
    .noUi-horizontal { height: 1px }
    .noUi-connect { background-color: #2B7EE0 }

    .noUi-touch-area {
        border: 1px solid #2B7EE0;
        border-radius: 100%;

        transition: .2s;
        overflow: hidden;
        background-color: #2B7EE0;
        &::before { display: none }

        width: 12px;
        height: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        box-sizing: border-box;
        cursor: pointer;

        &::after {
            content: "";
            display: block;

            width: 0;
            height: 0;
            
            background-color: #2B7EE0;
            left: initial;right: initial;top: initial;bottom: initial;
            
            top: 50%;
            left: 50%;
            border-radius: 100%;
        }
    }

    .noUi-horizontal .noUi-handle {
        background-color: transparent;
        box-shadow: none;
        border: none;

        width: 30px;
        height: 30px;

        right: -10px;
        top: 50%;
        transform: translateY(-48%);

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        &::before, &::after { display: none }

        @media (max-width: 1024px) {
            width: 50px;
            height: 50px;
        }

        &:hover, &:focus, &:active {
            .noUi-touch-area {
                width: 20px;
                height: 20px;
                
                background-color: #131E33;
    
                &::after {
                    width: 59%;
                    height: 59%;
                }
            }
        }
    }

    .noUi-origin .noUi-handle-lower { right: -20px }
    .noUi-origin .noUi-handle-upper { right: -10px }

    @media (max-width: 1024px) {
        .noUi-origin .noUi-handle-lower { right: -29px }
        .noUi-origin .noUi-handle-upper { right: -26px }
    }
}