.search-bar {
    padding: 0;
    height: 100%;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    &__input {
        display: flex;
        align-items: center;

        width: 100%;
        height: 48px;

        transition: .4s;
        box-sizing: border-box;

        border: .05em solid $niche;
        padding: 0 1em;

        svg {
            width: 0.9em;
            height: 0.9em;

            margin-right: .5em;
            transition: .4s;

            fill: #647391;
        }

        input {
            padding: 0;
            background-color: transparent;
            border: none;

            font-size: 16px;
            line-height: 140%;
            width: 100%;
        }

        .search-bar &:focus-within {
            border: 1px solid $franceBlue;
            svg { fill: $franceBlue }
        }
    }
}