<footer class="footer">
    <div class="footer__container container__1200px">
        <div class="footer__info">
            <h2>ООО «Гормаш Глобал»</h2>
            <p>141009, Московская область, г. Мытищи ул. Новослободская, владение 1, стр. 1, офис 141</p>
            <a class="footer__policy" href="./privacy.html">Политика конфиденциальности</a>
        </div>
        <div class="footer__links">
            <div class="footer__links-contacts">
                <a class="g-blue-btn" href="tel:+74956645313">+7 495 664-53-13</a>
                <a class="g-transparent-btn" href="#">info@rosgorprom.ru</a>
            </div>
            <a class="footer__policy footer__policy--mb" href="./privacy.html">Политика конфиденциальности</a>
            <div class="footer__links-socials">
                <a href="#">Фейсбук</a>
                <a href="#">Инстаграм</a>
            </div>
        </div>
    </div>
    <div class="footer__ruso">
        <h3>Сделано в</h3>
        <a class="footer__ruso-logo" href="https://rusodot.ru/" target="_blank"><svg><use xlink:href="./assets/images/svg/sprite.svg#rusoLogo"></use></svg></a>
    </div>
</footer>