<header class="header">
    <div class="header__container container__1200px">
        <a href="./index.html" class="header__logo">
            <img src="./assets/images/svg/logo.svg" alt="">
        </a>
        <ul class="header__links">
            <li><main><a href="./index.html">Главная</a></main></li>
            <li><main><a href="./about.html">О компании</a></main></li>
            <li>
                <main>
                    <a>Оборудование</a>
                    <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                </main>
                <div class="header__drop-down">
                    <div class="header__drop-down-head">
                        <!-- ITEM -->
                        <div class="header__drop-down-head-item">
                            <span>Буровые установки TUMI</span>
                            <svg class="link__arrow link__arrow--rightLeft"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>

                            <ul>
                                <a href="#">
                                    <span>SBM 300</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 300 SRS</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 400</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 700</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 400 LP</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 700 SR</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 800</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 800 XP</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 2000</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                            </ul>
                        </div>
                        <!-- ITEM -->
                        <div class="header__drop-down-head-item">
                            <span>OEM-оборудование Phillips Global</span>
                            <svg class="link__arrow link__arrow--rightLeft"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                            
                            <ul>
                                <a href="#">
                                    <span>SBM 300</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 300 SRS</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 400</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 700</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 400 LP</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 700 SR</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 800</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 800 XP</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>SBM 2000</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/main-slider-1.png" data-srcset="./assets/images/main-slider-1@2x.png" alt="img">
                                    </div>
                                </a>
                            </ul>
                        </div>
                        <!-- ITEM -->
                        <div class="header__drop-down-head-item">
                            <span>Продукция Tunelmak</span>
                            <svg class="link__arrow link__arrow--rightLeft"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                            
                            <ul>
                                <a href="#">
                                    <span>Торкет-машины</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-3.png" data-srcset="./assets/images/driling-machines-3@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>Миксеры</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-2.png" data-srcset="./assets/images/driling-machines-2@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>Ножничные подьёмники</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-4.png" data-srcset="./assets/images/driling-machines-4@2x.png" alt="img">
                                    </div>
                                </a>
                            </ul>
                        </div>
                        <!-- ITEM -->
                        <div class="header__drop-down-head-item">
                            <span>Продукция Stellar</span>
                            <svg class="link__arrow link__arrow--rightLeft"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                            
                            <ul>
                                <a href="#">
                                    <span>Буровые установки</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-3.png" data-srcset="./assets/images/driling-machines-3@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>Анкероустановщики</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-2.png" data-srcset="./assets/images/driling-machines-2@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>Кровлеуборщики</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-4.png" data-srcset="./assets/images/driling-machines-4@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>Подземный транспорт</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-5.png" data-srcset="./assets/images/driling-machines-5@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>Погрузчики</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-1.png" data-srcset="./assets/images/driling-machines-1@2x.png" alt="img">
                                    </div>
                                </a>
                                <a href="#">
                                    <span>Зарядчики</span>
                                    <div class="img__container">
                                        <img class="lozad" data-src="./assets/images/driling-machines-6.png" data-srcset="./assets/images/driling-machines-6@2x.png" alt="img">
                                    </div>
                                </a>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <main>
                    <a>Буровой инструмент</a>
                    <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                </main>
                <div class="header__drop-down">
                    <div class="header__drop-down-head">
                        <!-- ITEM -->
                        <a href="#" class="header__drop-down-head-item">
                            <span>Буровые трубы и стабилизаторы</span>
                        </a>
                        <!-- ITEM -->
                        <a href="#" class="header__drop-down-head-item">
                            <span>Шарошки</span>
                        </a>
                        <!-- ITEM -->
                        <a href="#" class="header__drop-down-head-item">
                            <span>Пилотные долота</span>
                        </a>
                        <!-- ITEM -->
                        <a href="#" class="header__drop-down-head-item">
                            <span>Расширительные головки</span>
                        </a>
                    </div>
                </div>
            </li>
            <li><main><a href="./services.html">Услуги</a></main></li>
            <li><main><a href="./contacts.html">Контакты</a></main></li>
        </ul>
        <form action="/" data-language-switcher="ru" class="lang-switcher">
            <button type="button" class="lang-switcher__btn lang-switcher__btn--ru">Рус</button>
            <button type="button" class="lang-switcher__btn lang-switcher__btn--en">Eng</button>
        </form>
        <button class="btn-reset burger" aria-label="Бургер меню">
            <span></span>
            <svg></svg>
        </button>
    </div>
    <aside class="menu">
        <div class="menu__container">
            <ul>
                <li><main><a href="./index.html">Главная</a></main></li>
                <li><main><a href="./about.html">О компании</a></main></li>
                <li>
                    <main>
                        <a>
                            <span>Оборудование</span>
                            <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                        </a>
                    </main>
                    <div class="menu__drop-down">
                        <!-- ITEM -->
                        <div class="menu__drop-down-item">
                            <div class="menu__drop-down-item-btn">
                                <span>Буровые установки TUMI</span>
                                <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                            </div>

                            <ul>
                                <a href="#"><span>SBM 300</span></a>
                                <a href="#"><span>SBM 300 SRS</span></a>
                                <a href="#"><span>SBM 400</span></a>
                                <a href="#"><span>SBM 700</span></a>
                                <a href="#"><span>SBM 400 LP</span></a>
                                <a href="#"><span>SBM 700 SR</span</a>
                                <a href="#"><span>SBM 800</span></a>
                                <a href="#"><span>SBM 800 XP</span></a>
                                <a href="#"><span>SBM 2000</span></a>
                            </ul>
                        </div>
                        <!-- ITEM -->
                        <div class="menu__drop-down-item">
                            <div class="menu__drop-down-item-btn">
                                <span>OEM-оборудование Phillips Global</span>
                                <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                            </div>
                            
                            <ul>
                                <a href="#"><span>SBM 300</span></a>
                                <a href="#"><span>SBM 300 SRS</span></a>
                                <a href="#"><span>SBM 400</span></a>
                                <a href="#"><span>SBM 700</span></a>
                                <a href="#"><span>SBM 400 LP</span></a>
                                <a href="#"><span>SBM 700 SR</span</a>
                                <a href="#"><span>SBM 800</span></a>
                                <a href="#"><span>SBM 800 XP</span></a>
                                <a href="#"><span>SBM 2000</span></a>
                            </ul>
                        </div>
                        <!-- ITEM -->
                        <div class="menu__drop-down-item">
                            <div class="menu__drop-down-item-btn">
                                <span>Продукция Tunelmak</span>
                                <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                            </div>
                            
                            <ul>
                                <a href="#"><span>Торкет-машины</span></a>
                                <a href="#"><span>Миксеры</span></a>
                                <a href="#"><span>Ножницы Подьемники</span></a>
                            </ul>
                        </div>
                        <!-- ITEM -->
                        <div class="menu__drop-down-item">
                            <div class="menu__drop-down-item-btn">
                                <span>Продукция Stellar</span>
                                <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                            </div>
                            
                            <ul>
                                <a href="#"><span>Буровые установки</span></a>
                                <a href="#"><span>Анкероустановщики</span></a>
                                <a href="#"><span>Кровлеуборщики</span></a>
                                <a href="#"><span>Подземный транспорт</span></a>
                                <a href="#"><span>Погрузчики</span></a>
                                <a href="#"><span>Зарядчики</span></a>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <main>
                        <a>
                            <span>Буровой Инструмент</span>
                            <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                        </a>
                    </main>
                    <div class="menu__drop-down">
                        <!-- ITEM -->
                        <div class="menu__drop-down-item">
                            <div class="menu__drop-down-item-btn">
                                <span>Буровые установки TUMI</span>
                                <svg class="link__arrow link__arrow--downUp"><use xlink:href="./assets/images/svg/sprite.svg#arrow"></use></svg>
                            </div>

                            <ul>
                                <a href="#"><span>SBM 300</span></a>
                                <a href="#"><span>SBM 300 SRS</span></a>
                                <a href="#"><span>SBM 400</span></a>
                                <a href="#"><span>SBM 700</span></a>
                                <a href="#"><span>SBM 400 LP</span></a>
                                <a href="#"><span>SBM 700 SR</span</a>
                                <a href="#"><span>SBM 800</span></a>
                                <a href="#"><span>SBM 800 XP</span></a>
                                <a href="#"><span>SBM 2000</span></a>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><main><a href="./services.html">Услуги</a></main></li>
                <li><main><a href="./contacts.html">Контакты</a></main></li>
            </ul>
            <form action="/" data-language-switcher="ru" class="lang-switcher lang-switcher--menu">
                <button type="button" class="lang-switcher__btn lang-switcher__btn--ru">Рус</button>
                <button type="button" class="lang-switcher__btn lang-switcher__btn--en">Eng</button>
            </form>
        </div>
    </aside>
</header>