.header {
    display: flex;
    flex-direction: column;

    width: 100%;
    position: relative;
    z-index: 10;

    &__container {
        display: flex;
        align-items: center;
        box-sizing: border-box;

        padding-top: 2em;
        padding-bottom: 2em;
        max-width: 1300px;

        @media (max-width: 1024px) {
            justify-content: space-between;
            .lang-switcher { display: none }
        }

        @media (max-width: 575px) { padding-top: 1.25em; padding-bottom: 1.25em }
    }

    &__logo {
        width: 7.75em;
        height: 2.5em;

        img {
            width: 100%;
            height: 100%;
        }

        @media (max-width: 1200px) { 
            width: 6em;
            height: 2em;
        }

        @media (max-width: 1024px) { 
            width: 7.75em;
            height: 2.5em;
        }

        @media (max-width: 400px) { 
            width: 6.15em;
            height: 2em;
        }
    }

    &__burger {
        background-color: transparent;
        overflow: hidden;
        display: none;
    
        @media (max-width: 1024px) { display: flex }
    }

    .link__arrow {
        stroke: #fff;
        width: 10px;
        height: 6px;

        margin-left: .25em;
        transition: .4s;

        &--rightLeft { transform: rotate(270deg) }
    }

    &__links {
        display: flex;
        margin-left: auto;

        margin-right: 2em;

        @media (max-width: 1024px) { display: none }

        li {
            display: flex;
            align-items: center;
            position: relative;

            cursor: pointer;
            transition: .4s;

            width: fit-content;
            height: fit-content;

            &:not(:last-child) { margin-right: 1.25em }

            main {
                display: flex;
                align-items: center;

                transition: .4s;

                a {
                    font-size: 0.8em;
                    transition: .4s;
                    @media (max-width: 1200px) { font-size: 0.7em }
                }  
            }
            

            &:hover {
                main {
                    a { color: $franceBlue }
                    svg { stroke: $franceBlue }
                }

                & .link__arrow { 
                    &--downUp { transform: rotate(180deg) }
                }

                .header__drop-down { clip-path: initial }
            }
        }
    }
}