<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="">
    <div class="page header-absolute">

        {{> header }}
    
        {{> body }}
    
        <footer class="footer footer--404">
            <div class="footer__ruso">
                <h3>Сделано в</h3>
                <a class="footer__ruso-logo" href="https://rusodot.ru/" target="_blank"><svg><use xlink:href="./assets/images/svg/sprite.svg#rusoLogo"></use></svg></a>
            </div>
        </footer>

    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>
