<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body class="">
    <div class="page">

        {{> header }}
    
        {{> body }}
    
        {{> footer }}

    </div>
    <script>
        const mapOnPage = document.getElementById('map');
        let center = [55.909171, 37.778299];

        function init() {
            //eslint-disable-next-line
            let map = new ymaps.Map('map', {
                center: center,
                zoom: 15,
                controls: []
            });

            //eslint-disable-next-line
            let placemark = new ymaps.Placemark(center, {
                balloonContent: 'Адрес офиса: <a href="https://yandex.kz/maps/10740/mytischi/house/novoslobodskaya_ulitsa_1s1/Z04YcQBoS0wOQFtvfXVxeH1kZQ==/?ll=37.778836%2C55.908651&z=18.55">https://yandex.kz/maps/10740/mytischi/house/novoslobodskaya_ulitsa_1s1/Z04YcQBoS0wOQFtvfXVxeH1kZQ==/?ll=37.778836%2C55.908651&z=18.55</a>'
            }, {
                iconLayout: "default#image",
                iconImageHref: "./assets/images/map-marker.svg",
                iconImageSize: [36, 36],
            });

            map.geoObjects.add(placemark);
        }

        function addScript( src ) {
            var jsonScript = document.createElement( 'script' );
            jsonScript.setAttribute( 'src', src );
            document.querySelector('head').appendChild(jsonScript);
        }

        mapOnPage.addEventListener('click', function() {
            addScript('https://api-maps.yandex.ru/2.1/?apikey=6d392d39-d052-4d77-a01d-f9ed0da99f83&lang=ru_RU');
            setTimeout(function() {
                window.ymaps?.ready(init);
            }, 400);
        }, {once : true});
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/imask"></script>
    <script src="assets/js/app.js"></script>
</body>
</html>